$bodyBg: #b8f9f9;
$whiteBg: #ffffff;
$blackBg: #000000;
$lightGrey: #fbfbfb;
$darkGrey: #efefef;
$primaryBlue: #2400ff;
$primaryTurq: #02eefd;
$secondaryTurq: #00818a;
$primaryYellow: #fde402;
$secondaryYellow: #6e6402;
$errorRed: #ff2f2f;
