<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sprint_1</title>
  <link rel="stylesheet" href="./css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@400;700&family=Montserrat:wght@400;600&display=swap"
    rel="stylesheet">
  <script src="src/index.js"></script>
</head>

<body>
  <div id="root" style="display: flex; flex-direction: column; margin-left: 30%; margin-top: 3%;">
    <a href="src/pages/auth/auth.hbs" style="margin-bottom: 15px;">ссылка на страницу авторизации</a>
    <a href="src/pages/registry/registry.hbs" style="margin-bottom: 15px;">ссылка на страницу регистрации</a>
    <a href="src/pages/errors/error-404.hbs" style="margin-bottom: 15px;">ссылка на страницу ошибки 404</a>
    <a href="src/pages/errors/error-500.hbs" style="margin-bottom: 15px;">ссылка на страницу ошибки 500</a>
    <a href="src/pages/account/account.hbs" style="margin-bottom: 15px;">ссылка на страницу аккаунта</a>
    <a href="src/pages/account/change-data.hbs" style="margin-bottom: 15px;">ссылка на страницу смены данных</a>
  </div>
</body>