<<<<<<< HEAD:src/partials/button/_button.scss
@import "../../sass/_mixins.scss";
@import "../../sass/variables.scss";
=======
@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';
>>>>>>> 61e70ae0652665d130f54a20236c776bc0ad3e7f:src/components/button/_button.scss

.main-btn {
  width: 100%;
  height: 40px;
  max-width: 280px;

  @include primary-font;

  font-size: 13px;
  line-height: 13px;
  background-color: $primaryYellow;
  color: $whiteBg;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    background-color: $secondaryYellow;
  }
}
