@import "../../sass/_mixins";
@import "../../sass/_variables";

.main-btn {
  width: 100%;
  max-width: 280px;
  height: 40px;
  border: none;
  border-radius: 8px;
  margin: 0 auto 15px;
  background-color: $primaryYellow;
  color: $whiteBg;
  cursor: pointer;
  font-size: 13px;
  line-height: 13px;

  @include primary-font;

  &:focus,
  &:hover,
  &:active {
    border: none;
    background-color: $secondaryYellow;
    outline: none;
  }
}
