* {
  box-sizing: border-box;
}

body {
  background-color: $bodyBg;
}

.auth-form {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  width: 340px;
  min-width: 340px;
  height: 450px;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  padding-top: 50px;
  border-radius: 12px;
  background: $whiteBg;
  box-shadow: 0 0 5px rgb(0 0 0 / 14%);
  transform: translate(-50%, -50%);

  &__title {
    @include primary-font;

    margin-bottom: 40px;
    color: $primaryBlue;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  &:focus,
  &:hover,
  &:active {
    box-shadow: 0 0 12px rgb(0 0 0 / 14%);
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.main-btn {
  &_auth {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .auth-form {
    position: static;
    max-width: 340px;
    margin: auto;
    margin-top: 10%;
    transform: none;
  }
}

@media screen and (max-width: 576px) {
  .auth-form {
    width: 90%;
    min-width: auto;
    max-width: auto;
    margin: none;
  }
}
