* {
  box-sizing: border-box;
}

body {
  background-color: $bodyBg;
}

.auth-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
  min-width: 340px;
  height: 450px;
  padding: 30px;
  padding-top: 50px;
  background: $whiteBg;
  box-shadow: 0 0 5px rgb(0 0 0 / 14%);
  border-radius: 12px;

  &__title {
    @include primary-font;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: $primaryBlue;
    margin-bottom: 40px;
  }

  &:focus,
  &:hover,
  &:active {
    box-shadow: 0 0 12px rgb(0 0 0 / 14%);
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.main-btn {
  &_auth {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .auth-form {
    position: static;
    margin: auto;
    margin-top: 10%;
    transform: none;
    max-width: 340px;
  }
}

@media screen and (max-width: 576px) {
  .auth-form {
    width: 90%;
    max-width: auto;
    min-width: auto;
    margin: none;
  }
}
