<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Авторизация</title>
  <link rel="stylesheet" href="../../../.css/style.css">


</head>

<main>
  <form class="auth-form">

    <div class="input-wrapper">
      <h1 class="auth-form__title">Вход</h1>
      {{> input/input label="Логин" name="login" type="text"}}
      {{> input/input label="Пароль" name="password" type="password"}}
    </div>

    <div class="button-wrapper">
      {{> button/button name="Авторизоваться"}}
      {{> link/link href="../registry/registry.hbs" name="Нет аккаунта?"}}
    </div>

  </form>
</main>