<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Чаты</title>
  <link rel="stylesheet" href="../../../.css/style.css">

</head>

<main>
  <div class="chat">
    <div class="chat-list">
        <a href="../account/account.hbs" class="chat-list__link">Профиль</a>
        <label class="chat-list__label" for="search">Поиск</label>
          <input type="text" class="chat-list__search" id="search">
      <div class="chat-list__wrapper">
        {{> contact/contact name="Андрей" text="Изображение" time="10:49" counter="2"}}
        {{> contact/contact name="Киноклуб" text="Вы: стикер" time="12:00"}}
        {{> contact/contact name="Илья" text="Друзья, у меня для вас особенный выпуск новостей!..." time="15:12" counter="4"}}
        {{> contact/contact name="Вадим" text="Вы: Круто!" time="Пт"}}
        {{> contact/contact name="тет-а-теты" text="И Human Interface Guidelines и Material Design рекомендуют..." time="Ср"}}
        {{> contact/contact name="1, 2, 3" text="Миллионы россиян ежедневно проводят десятки часов свое..." time="Пн"}}
        {{> contact/contact name="Design Destroyer" text="Так увлёкся работой по курсу, что совсем забыл его анонсир..." time="Ср"}}
        {{> contact/contact name="Day." text="В 2008 году художник Jon Rafman начал собирать..." time="Пн"}}
      </div>
    </div>
    <div class="chat-text">
      <div class="chat-text__header">
        <div class="chat-text__header_wrap">
                  <div class="chat-text__header__avatar"></div>
        <span class="chat-text__header__name">Вадим</span>
        </div>

        <div class="chat-text__header__menu">
          <div class="chat-text__header__menu_dot"></div>
          <div class="chat-text__header__menu_dot"></div>
          <div class="chat-text__header__menu_dot"></div>
        </div>
      </div>
      <div class="chat-text__ribbon">
        <div class="chat-text__ribbon__date">19 июня</div>
        <div class="chat-text__ribbon__in">
          Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
        <br>
        Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
        </div>
        <div class="chat-text__ribbon__in"></div>
        <div class="chat-text__ribbon__out"></div>
      </div>
      <div class="chat-text__footer">
        <div class="chat-text__footer_files"></div>
        <div class="chat-text__footer_message" name="message"></div>
        <div class="chat-text__footer_go"></div>
      </div>
    </div>
  </div>
</main>