<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ошибка 404</title>
  <link rel="stylesheet" href="../../../.css/style.css">

</head>

<main>
  <div class="error">
    <h1 class="error__number">404</h1>
    <span class="error__info">Не туда попали</span>
    {{> link/link href="../errors/error-500.hbs" name="Назад к чатам"}}
  </div>
</main>