<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ошибка 500</title>
  <link rel="stylesheet" href="../../../.css/style.css">

</head>

<main>
  <div class="error">
    <h1 class="error__number">500</h1>
    <span class="error__info">Уже фиксим</span>
    {{> link/link href="../account/account.hbs" name="Назад к чатам"}}
  </div>
</main>