<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ошибка 500</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@400;700&family=Montserrat:wght@400;600&display=swap"
    rel="stylesheet">
</head>

<main>
  <div class="error">
    <h1 class="error__number">500</h1>
    <span class="error__info">Уже фиксим</span>
    {{> link href="../auth/auth.hbs" name="Назад к чатам"}}
  </div>
</main>