@import "../../sass/_mixins";
@import "../../sass/_variables";

.account {
  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $darkGrey;

    @include primary-font;

    font-size: 13px;
    line-height: 13px;

    &__data {
      color: $primaryBlue;
    }

    &__value {
      color: $secondaryYellow;
    }
  }
}
