body {
  background-color: $whiteBg;
}

.container {
  position: relative;
  max-width: 1110px;
  margin: auto;
}

.account {
  display: flex;
  max-width: 510px;
  flex-direction: column;
  padding-top: 35px;
  margin: auto;

  &__avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &__img {
      width: 150px;
      height: 145px;
      border-radius: 50%;
      margin-bottom: 30px;
    }

    &__name {
      @include primary-font;

      color: $primaryBlue;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
    }

    &__change {
      position: absolute !important;
      top: 60% !important;
      left: 50% !important;
      width: 65px !important;
      color: $primaryYellow !important;
      font-size: 13px !important;
      line-height: 14px !important;
      opacity: 0 !important;
      text-align: center !important;
      transform: translate(-50%, -50%) !important;

      @include primary-font;

      &:hover {
        opacity: 1 !important;
      }
    }
  }

  &__input {
    margin-bottom: 60px;
  }

  &__check,
  &__back {
    align-self: start;
    margin-bottom: 20px;
    font-size: 13px !important;
    line-height: 13px !important;
  }

  &__back {
    color: $errorRed !important;

    &:focus,
    &:hover,
    &:active {
      color: #780202 !important;
    }
  }
}

.back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 18px;
  background-color: $lightGrey;

  &__arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("http://localhost:3000/img/back-arrow.svg") no-repeat;
    background-color: $primaryYellow;
    background-position: 50%;

    &:focus,
    &:hover,
    &:active {
      background-color: $secondaryYellow;
    }

    &_footer {
      transform: rotate(90deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .account {
    max-width: 80%;
    margin-right: 5%;
  }

  .back {
    left: 0;
    padding-right: 8px;
    padding-left: 0;
  }
}
