.account

  &__button
    align-self: center

.change

  &__field

    &__input
      text-align: right
      @include primary-font
      font-size: 13px
      line-height: 13px
      color: $secondaryYellow
      border: none
      outline: none
