<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Настройка аккаунта</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@400;700&family=Montserrat:wght@400;600&display=swap"
    rel="stylesheet">

</head>

<main>
  <div class="container">
    <div class="back">
      <div class="back__arrow"></div>
    </div>
    <div class="account">
      <div class="account__avatar" name="avatar">
        <img src="../../../static/image/avatar.svg" alt="user avatar" class="account__avatar__img">
        <span class="account__avatar__name">Иван</span>
      </div>
      <div class="account__input">
        {{> change name="email" data="Почта" }}
        {{> change name="login" data="Логин" }}
        {{> change name="first_name" data="Имя" }}
        {{> change name="second_name" data="Фамилия" }}
        {{> change name="display_name" data="Имя в чате" }}
        {{> change name="phone" data="Телефон" }}
      </div>
      {{> button name="Сохранить" class="account__button"}}
    </div>
  </div>
</main>