<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Изменение данных</title>
  <link rel="stylesheet" href="../../../.css/style.css">

</head>

<main>
  <div class="container">
    <div class="back">
      <div class="back__arrow"></div>
    </div>
    <div class="account">
      <div class="account__avatar" name="avatar">
        <img src="../../../static/image/avatar.svg" alt="user avatar" class="account__avatar__img">
        <span class="account__avatar__name">Иван</span>
      </div>
      <div class="account__input">
        {{> change/change name="email" data="Почта" type="text"}}
        {{> change/change name="login" data="Логин" type="text"}}
        {{> change/change name="first_name" data="Имя" type="text"}}
        {{> change/change name="second_name" data="Фамилия" type="text"}}
        {{> change/change name="display_name" data="Имя в чате" type="text"}}
        {{> change/change name="phone" data="Телефон" type="text"}}
      </div>
      {{> button/button name="Сохранить" class="account__button"}}
    </div>
  </div>
</main>