<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Настройка аккаунта</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@400;700&family=Montserrat:wght@400;600&display=swap"
    rel="stylesheet">

</head>

<main>
  <div class="container">
    <div class="back">
      <div class="back__arrow"></div>
    </div>
    <div class="account">
      <div class="account__avatar" name="avatar">
        <img src="../../../static/image/avatar.svg" alt="user avatar" class="account__avatar__img">
        <span class="account__avatar__name">Иван</span>
        <div class="account__avatar__download">
          <div class="account__avatar__form">
            <span class="account__avatar__title">Загрузите файл</span>
            <label class="account__avatar__label">Выбрать файл на компьютере
              <input class="account__avatar__input" type="file">
            </label>
            {{> button name="Поменять"}}
          </div>
        </div>
      </div>
      <div class="account__input">
        {{> field name="email" data="Почта" value="pochta@yandex.ru"}}
        {{> field name="login" data="Логин" value="ivanivanov"}}
        {{> field name="first_name" data="Имя" value="Иван"}}
        {{> field name="second_name" data="Фамилия" value="Иванов"}}
        {{> field name="display_name" data="Имя в чате" value="Иван"}}
        {{> field name="phone" data="Телефон" value="+7 (909) 967 30 30"}}
      </div>
      {{> link href="#" name="Изменить данные" class="account__check"}}
      {{> link href="#" name="Изменить пароль" class="account__check"}}
      {{> link href="#" name="Выйти" class="account__back"}}
    </div>
  </div>
</main>