@import "../../sass/_mixins";
@import "../../sass/_variables";

.auth-form {
  &__link {
    display: inline-block;
    color: $primaryTurq;
    cursor: pointer;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-decoration: none;

    @include primary-font;

    &:focus,
    &:hover,
    &:active {
      color: $secondaryTurq;
      outline: none;
    }
  }
}
