.auth-form {
  &__input {
    width: 100%;
    max-width: 280px;
    border: none;
    border-bottom: 1px solid $primaryYellow;
    margin-bottom: 30px;

    @include primary-font;

    font-size: 13px;
    line-height: 13px;
    color: $primaryBlue;

    &:focus,
    &:hover,
    &:active {
      outline: none;
      box-shadow: none;
    }

    &_label {
      @include primary-font;

      font-size: 13px;
      line-height: 13px;
      color: $primaryTurq;
    }
  }
}
