@import "../../sass/_mixins.scss";
@import "../../sass/variables.scss";

.main-btn {
  width: 100%;
  height: 40px;
  max-width: 280px;

  @include primary-font;

  font-size: 13px;
  line-height: 13px;
  background-color: $primaryYellow;
  color: $whiteBg;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    background-color: $secondaryYellow;
  }
}
